/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 25px;
}

/* Navigation */
nav {
    margin-block-start: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700;
}

/* Sections */
section {
    max-inline-size: 900px;
    margin: 40px auto;
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* Titres */
h1 {
    margin-block-end: 10px;
}

h2 {
    color: #8b0000;
    margin-block-end: 15px;
}

h3 {
    margin-block-start: 20px;
    color: #555;
}

/* Paragraphes */
p {
    margin-block-end: 15px;
    font-size: 17px;
}

/* Listes menu */
ul {
    margin-inline-start: 20px;
}

li {
    margin-block-end: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
    margin-block-start: 40px;
}